---
- name: SW_PRODUCTION Endpoint Port Yapılandırması
  hosts: SW_PRODUCTION
  gather_facts: false
  connection: network_cli

  tasks:
    - name: SDET PRODUCTION VLAN
      cisco.ios.ios_vlans:
        config:
          - vlan_id: 20
            name: PRODUCTION
        state: merged

    - name: SET ENDPOINT VLAN's
      cisco.ios.ios_l2_interfaces:
        config:
          - name: GigabitEthernet0/0
            mode: access
            access:
              vlan: 20
          - name: GigabitEthernet0/1
            mode: access
            access:
              vlan: 20
        state: merged

    - name: ADD description within ports
      cisco.ios.ios_interfaces:
        config:
          - name: GigabitEthernet0/0
            description: "SERVER-A"
            enabled: true
          - name: GigabitEthernet0/1
            description: "SERVER-B"
            enabled: true
        state: merged

    - name: Check configs
      cisco.ios.ios_command:
        commands:
          - show vlan brief | include PRODUCTION
          - show interfaces status | include Gi0/0|Gi0/1
      register: verification_output

    - name: Print on screen
      debug:
        var: verification_output.stdout_lines